<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645273414661-d5tp81spa452kcvp55n3bgovi9hilvd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645273414661-d5tp81spa452kcvp55n3bgovi9hilvd6</string>
	<key>API_KEY</key>
	<string>AIzaSyDw_LRavoRoYK9l_fMVr5WAG16C_-7-snE</string>
	<key>GCM_SENDER_ID</key>
	<string>645273414661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miovinacapital</string>
	<key>PROJECT_ID</key>
	<string>mioplus-b425e</string>
	<key>STORAGE_BUCKET</key>
	<string>mioplus-b425e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645273414661:ios:634498d357e9962f4d806c</string>
</dict>
</plist>